        long uniqueId = cut.addDog( theDog );

                long expectedResult = 0;
                        boolean expectedStatus = true;


                                // act
                                        boolean actualStatus = cut.removeDog( uniqueId);
                                                long actualResult = cut.getNoOfDogs();

                                                        // assert
                                                                assertEquals( expectedStatus, actualStatus);
                                                                        assertEquals( expectedResult, actualResult );
                                                                            }

                                                                                // This testber_of_dogs_is_one()
                                                                                    {
                                                                                            // arrange
                                                                                                    DogHandler cut = new DogHandler( itsDogRepo );
                                                                                                            Dog theDog = new Dog();HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
